<div class="container">
  <h1>Raindrops</h1>

  <div class="results">
    <% @results.each do |result| %>
      <div class="result">
        <p><strong>Number:</strong> <%= result.first %></p>
        <p><strong>Result:</strong> <%= result.second %></p>
      </div>
    <% end %>
  </div>

  <div class="input-container">
    <input type="text" id="numberInput" placeholder="Enter a number">
    <button id="generateButton">Generate</button>
    <button id="generateRandomButton">Generate Random from 1 to 10000</button>
  </div>

  <div class="generated_result results">
    <div class="result">
      <p><strong>Number:</strong> <%= @generated_result&.first %></p>
      <p><strong>Result:</strong> <%= @generated_result&.second %></p>
    </div>
  </div>  
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const numberInput = document.getElementById("numberInput");
    const generateButton = document.getElementById("generateButton");
    const generateRandomButton = document.getElementById("generateRandomButton");

    generateButton.addEventListener("click", function (event) {
      event.preventDefault();
      generateRaindrops();
    });

    generateRandomButton.addEventListener("click", function (event) {
      event.preventDefault();
      const randomNumber = Math.floor(Math.random() * 10000);
      numberInput.value = randomNumber;
      generateRaindrops();
    });

    function generateRaindrops() {
      const number = numberInput.value;
      const url = "/pages/home/" + encodeURIComponent(number);
      window.location.href = url;
    }
  });
</script>
